#cs1300-gallery {
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
  height: 100%;
}

body {
  background-image: url("assets/bg2.jpeg");
  background-repeat: repeat;
  background-size: 50vw;
  background-color: black;
}

.gallery-item {
  max-width: 100%;
  height: 500px;
}

.gallery-item:hover {
  opacity: 0%;
  transition: 1s;
}

h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#fruits-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
  min-height: 100vw;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#fruits-label {
  font-size: 40px;
  border: solid 2px black;
  background-color: chocolate;
}

.fruit {
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: beige;
  border: solid 1px black;
  height: 50px;
}
